<!DOCTYPE html>
<html>
<head>
  <title>
    Zanna Hue Light Controller
  </title>
  <script>
    function handleLoad(e) {
      console.log('Loaded import: ' + e.target.href);
      console.log(e);
    }
    function handleError(e) {
      console.log('Error loading: ' + e.target.href);
      console.log(e);
    }
  </script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="import" src="tabColorPicker.html" onload="handleLoad(event)" onerror="handleError(event)"/>
  <link rel="import" src="tabLightSet.html" onload="handleLoad(event)" onerror="handleError(event)"/>
  <link rel="import" src="HueBridgeInfo.html" onload="handleLoad(event)" onerror="handleError(event)"/>
</head>
<body>
  <div id="tabs-div">
    <ul class="tabgroup">
      <li class="" id="tab_ColorPicker" onclick="changeTab(event)">
        Color Picker
      </li> <!-- tab div -->
      <li class="active" id="tab_LightSet" onclick="changeTab(event)">
        Light Settings
      </li> <!-- tab div -->
    </ul>
  </div><!-- Tabgroup div -->
  <div class="tabview " id="view_ColorPicker">

  </div>
  <div class="tabview tactive" id="view_LightSet">

  </div>

  <script src="../renderers/tabRender.js" > </script>
  <script type="text/javascript">
    loadTabFromHtml('view_ColorPicker','./tabColorPicker.html');
    loadTabFromHtml('view_LightSet','./tabLightSet.html');

  </script>
</body>
</html>
