<!DOCTYPE html>
<html>
<head>
  <title>
    Zanna Hue Light Controller
  </title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div id="tabs-div">
    <ul class="tabgroup">
      <li class="active" id="tab_ColorPicker" onclick="changeTab(event)">
        Color Picker
      </li> <!-- tab div -->
      <li class="" id="tab_LightSet" onclick="changeTab(event)">
        Light Settings
      </li> <!-- tab div -->
    </ul>
  </div><!-- Tabgroup div -->
  <div class="viewport">
    <webview id="tab-viewport" nodeintegration disablewebsecurity src="./tabColorPicker.html" class="viewport"></webview>
  </div>
  <!-- <table class="mainTable">
    <tr>
      <th style="width: 50%;">
        <div class="previewZone" id="previewDiv"></div>
      </th>
      <th style="width: 50%;">
        Second Column Here
      </th>
    </tr>
    <tr>
      <td>
        <canvas id="wheelCanvas" width="300" height="300" onclick="getColorByClick(event);"/>
      </td>
      <td >
        <table style="display: inline-table;" class="controls" >
          <tr>
            <td>
              <label>R:</label>
            </td>
            <td>
              <input type="text" id="rVal" maxlength="3" size="3"  class="smallText" value="0"/>
            </td>
            <td>
              <input type="range" min="0" max="255" step="1" value="0" id="rSlide" />
            </td>
          </tr>
          <tr>
            <td>
              <label>G:</label>
            </td>
            <td>
              <input type="text" id="gVal" maxlength="3" size="3" class="smallText" value="0"/>
            </td>
            <td>
              <input type="range" min="0" max="255" step="1" value="0" id="gSlide" />
            </td>
          </tr>
          <tr>
            <td>
              <label>B:</label>
            </td>
            <td>
              <input type="text" id="bVal" maxlength="3" size="3" class="smallText" value="0"/>
            </td>
            <td>
              <input type="range" min="0" max="255" step="1" value="0" id="bSlide" />
            </td>
          </tr>
          <tr>
            <td>
              <label>RGB:</label>
            </td>
            <td colspan="2">
              <input type="text" id="rgbVal" />
            </td>
          </tr>
          <tr>
            <td>
              <label>HEX:</label>
            </td>
            <td colspan="2">
              <input type="text" id="hexVal" />
            </td>
          </tr>
          <tr>
            <td>
              <label>HSL:</label>
            </td>
            <td colspan="2">
              <input type="text" id="hslVal" />
            </td>
          </tr>
        </table>
      </td>

    </tr>
  </table> -->

  <!-- <script src='../renderers/colorPickerRender.js'></script> -->
  <script src="../renderers/tabRender.js" > </script>
</body>
</html>
