td {
  text-align: center;
}

table.mainTable
{
  border: 2px solid black;
  border-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.mainTable > tbody > tr > td,
table.mainTable > tbody > tr > th
{
  border: 2px solid blue;

}

table.mainTable td,
table.mainTable th
{
  padding: 2px;
}

.controls td
{
  border: 2px solid green;
}

canvas {
  cursor: crosshair;
}

.controls td > input[type="text"] {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.smallText {
  text-align: right;
}
