<!DOCTYPE html>
<link rel="import" href="./htmlTemplates/HueBridgeInfo.html" onload="handleLoad(event)"
      onerror="handleError(event,error)" />
<table class="mainTable">
    <tbody>
        <tr>
            <td>
                row 1 col 1
            </td>
            <td>
                row 1 col 2
            </td>
        </tr>
        <tr>
            <td>
                row 2 col 1
            </td>
            <td>
                row 2 col 2
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript" src="../renderers/lightSetRender.js" />
