<template id="temp_HueBridgeInfo">
  <div class="HueBridgeInfo">
      <div>
          <table>
              <tbody>
                  <tr>
                      <td class="HueName" colspan=""></td>
                  </tr>
                  <tr>
                      <td class="HueInfo">
                          <b>MAC Address</b>
                          <div></div>
                      </td>
                      <td class="HueInfo">
                          <b>IP Address</b>
                          <div></div>
                      </td>
                      <td class="HueInfo">
                          <b>Bridge ID:</b>
                          <div></div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</template>
