<template id="tmpl_HueBridgeInfo">
  <div class="HueBridgeInfo">
      <div>
          <table>
              <tbody>
                  <tr>
                      <td class="HueName" colspan=""></td>
                  </tr>
                  <tr>
                      <td class="HueInfo">
                          <b>MAC Address</b>
                          <div><slot name="bridgeMac"></slot></div>
                      </td>
                      <td class="HueInfo">
                          <b>IP Address</b>
                          <div><slot name="bridgeIp"></slot></div>
                      </td>
                      <td class="HueInfo">
                          <b>Bridge ID:</b>
                          <div><slot name="bridgeId"></slot></div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</template>
