td {
  text-align: center;
}

table.mainTable
{
  border: 2px solid black;
  border-spacing: 2px;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  width: 90%;
}

table.mainTable > tbody > tr > td,
table.mainTable > tbody > tr > th
{
  border: 2px solid blue;
}

table.mainTable td,
table.mainTable th
{
  padding: 2px;
}

.controls td
{
  border: 2px solid green;
}

canvas {
  cursor: crosshair;
}

.controls td > input[type="text"] {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.smallText {
  text-align: right;
}

.previewZone {
  background-color: black;
  border: 1px black solid;
  min-height: 2em;
}

body {
  height: 100%;
  margin: 0;
}

.tabgroup {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.tabgroup::after {
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #414141;
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1;
}

.tabgroup::before {
  z-index: 1;
}

.tabgroup li {
  background-color: grey;
  border: 3px solid #414141;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0 10px;
  text-align: center;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  cursor: default;
}

.tabgroup li::before,
.tabgroup li::after {
  position: absolute;
  bottom: -1px;
  width: 6px;
  height: 6px;
  content: " ";
  border: 2px solid #414141;
}

.tabgroup li:before {
  left: -9px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #414141;
}
.tabgroup li:after {
  right: -9px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #414141;
}

.tabgroup .active {
  background-color: rgb(152, 221, 93);
  border-bottom-color: rgb(152, 221, 93);
  z-index: 2;
}

.tabgroup .active:before {
  box-shadow: 2px 2px 0 #414141;
}
.tabgroup .active:after {
  box-shadow: -2px 2px 0 #414141;
}

.tabview{
  display:none;
}
.tactive {
  background-color: rgb(152, 221, 93);
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}
